<!DOCTYPE html>
<html lang="en">

<body style="font-family: sans-serif; text-align: center;">
  <h1>Tab Bill Receipt</h1>
  <h2 style="margin-bottom: 1.8rem;">
    Payment received for {{.Tab.DisplayName}} at {{.Shop.Name}}
  </h2>
  <a href="{{.TabURL}}">
    <div style="
      display: inline-block;
      border: none;
      background-color: #204c39;
      color: white;
      padding: 1rem 2rem;
      border-radius: 2rem;
      font-size: 1rem;
      margin-bottom: 1.8rem;
    ">
      <b>See on CafeTrackr</b>
    </div>
  </a>
  <div style="max-width: 80%; width: fit-content; margin: 0 auto;">
    <div style="border: 1px solid black; border-radius: 1rem; margin: 0 auto 1.8rem; width: 100%; overflow: hidden;">
      <table>
        <tr>
          <th style="text-align: right; padding: 1rem;">Tab</th>
          <td style="text-align: left; padding: 1rem;">{{.Tab.DisplayName}}</td>
        </tr>
        <tr>
          <th style="text-align: right; padding: 1rem;">Total</th>
          <td style="text-align: left; padding: 1rem;">${{.Total}}</td>
        </tr>
        <tr>
          <th style="text-align: right; padding: 1rem;">Bill Start Date</th>
          <td style="text-align: left; padding: 1rem;">{{.Bill.StartDate}}</td>
        </tr>
        <tr>
          <th style="text-align: right; padding: 1rem;">Bill End Date</th>
          <td style="text-align: left; padding: 1rem;">{{.Bill.EndDate}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div style="font-size: 1rem; font-weight: lighter; margin-bottom: 1.8rem;">
    View the full details on <a href="{{.TabURL}}" style="
    text-decoration: underline;
    cursor: pointer;
    color: blue;
        ">CafeTrackr</a>
  </div>
</body>

</html>
